 
 body{
     background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fd/Facultad_de_Derecho_%288617641510%29.jpg);
     background-size: cover;
 }


 nav{
     position: absolute;
     font-family: 'Roboto Slab', serif;
     top: 02px;
     left: 1060px;
 }





 ul .menu{
     position: relative;
     top: 75px;
     display: flex;
     flex-direction: column;
     background-color: beige;
     border: 3px solid black;
     
     border-radius: 15px;
 }

 .titulo {    
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    color:rgb(1, 8, 10, 0.791);
    background-image: linear-gradient(to bottom, beige, rgb(139, 138, 125));
    margin-right: 1600px;
    border: black solid;
    border-radius: 15px;
    
}






.referencias {
    display: inline;
    position: relative;
    left: 500px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: rgb(5, 5, 5);
    list-style-type: none;
    
    
    
     
}



 .bienvenidos{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: rgb(5, 5, 5);
    text-align: justify;
    position: absolute;
    top: 400px;
    left: 300px;
    background-color: beige;
    border: 3px solid rgb(91, 87, 87);
    border-radius: 15px;
    background-image: linear-gradient(to bottom, beige, rgb(171, 170, 148));
    
}



        




div footer{
    position: absolute;
    top: 900px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;

}


.sobreNosotros{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    position: absolute;
    top: 200px;
    background-color: beige;
    margin-right: 1600px;
    border: 3px solid rgb(91, 87, 87);
    border-radius: 15px;
    background-image: linear-gradient(to bottom, beige, rgb(139, 138, 125));
}

.nosotrosPosicion{
    position: absolute;
    top: 300px;

}

article .nosotros{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    position: relative;
    top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    color: rgb(5, 5, 5);
    background-color: beige;
    border: 3px solid rgb(91, 87, 87);
    border-radius: 15px;
    background-image: linear-gradient(to bottom, beige, rgb(139, 138, 125));

    
}






.casilleros{
    height: 25px;
    width: 70px;
    margin-left: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, beige, rgb(185, 183, 163));
    


}


div .fotos{
    margin-left: 200px;
    margin-right: 400px;
    border-radius: 20px;
    border-style: solid;

}

.textarea{
    background-color: beige;
    border: solid black;

}

.palabrasForm{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin: 02px;
    border: black groove;
    background-image: linear-gradient(to bottom, beige, rgb(139, 138, 125));
    
    
}

section form{      
    background-color: beige;
    border: solid black;
    margin-right: 1300px;
    background-image: linear-gradient(to bottom, beige, rgb(139, 138, 125));
}
   
.titulo2{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color:rgb(1, 8, 10, 0.791);
    background-image: linear-gradient(to bottom, beige, rgb(139, 138, 125));
    margin-top: 100px;
    margin-right: 1200px;
    border: black solid;
    border-radius: 15px;
}


.boton{
    font-family: 'Roboto Slab', serif;
    color: black;
    border: black solid;
    border-radius: 15px;
    padding: 09px;
    background-image: linear-gradient(to bottom, beige, rgb(139, 138, 125));



}
   



    
    
    






